<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grocerystore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".HelperClasses.GlobalClass">
        <activity android:name=".Dialogs.PrevReport"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity android:name=".Activities.DailyReport" />
        <activity android:name=".Dialogs.ManageRegisters" />

        <activity android:name=".Dialogs.CallIn" />
        <activity android:name=".Dialogs.Release" />
        <activity android:name=".Dialogs.Restock" />
        <activity android:name=".Dialogs.Delivery" />
        <activity
            android:name=".Dialogs.UserInputs"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".Activities.Historical"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Dialogs.referencePopup"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".Activities.StartScreen"
            android:configChanges="orientation"
            android:label="@string/title_activity_start_screen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Realtime" />
    </application>

</manifest>